{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends "@EasyAdmin/menu.html.twig" %}

{% block main_menu_before %}{% endblock %}

{% block main_menu %}
<nav id="main-menu">
    <ul class="menu">
    {% for document in documents %} 
        
        {% if document != null or is_granted("ROLE_SUPERADMIN") %}
            
            <li class="menu-header menu-item {{ selected_document == document ? "active" }}">{{ document|urlify(null) }}</li>
            
            {% for array in (document.content|wysiwyg_toc) %}
                {% set title = array["title"] %}
                {% set slug  = array["slug"]  %}
                {% set url   = (document|linkify) ~ "#" ~ slug %}

                <li class="menu-item menu-without-section"><a class="menu-item-contents" href="{{url}}">{{ title }}</a></li>
            {% endfor %}

        {% endif %}

    {% endfor %}
    </ul>
</nav>
{% endblock %}

